{% extends 'layout.twig' %}
{% block body %}
<div class="row">
	<h2>Data Buku</h2>
	<table class="table" id="datatable">
		<thead>
		<tr>
			<th>Kode</th>
			<th>Judul</th>
			<th>Penulis</th>
			<th>Penerbit</th>
			<th>Tahun</th>
			<th>Jumlah</th>
			<th>Kategori</th>
		</tr>
		</thead>
		<tbody>
		{% for item in buku %}
		<tr>
			<td>{{item.kode}}</td>
			<td>{{item.judul}}</td>
			<td>{{item.penulis}}</td>
			<td>{{item.penerbit}}</td>
			<td>{{item.tahun}}</td>
			<td>{{item.jumlah}}</td>
			<td>{{item.kategori}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
{% endblock %}